---
import Image from "astro/components/Image.astro";
import cornerFlower from "@assets/images/hojas.png";
import whatsImg from "@assets/images/whatsapp.png";
import rings from "@assets/images/engagement-ring.png";
import brideImg from "@assets/images/bride.png";
import groomImg from "@assets/images/groom.png";
import Slider from "@components/Slider.astro";

---

<section
  class="bg-main max-w-5xl mx-auto flex flex-col justify-between relative overflow-x-hidden"
>
  <Image
    alt="corner"
    src={cornerFlower}
    class="rotate-[180deg] top-0 left-0 absolute w-20 h-20"
  />

  <div class="w-full flex flex-col gap-2 items-center justify-center mt-4">
    <p class="text-amber-50 text-xl w-full text-center my-auto">
      Confirmación:
    </p>
    <Image alt="date" src={whatsImg} class="h-10 w-10" />
    <p class="text-amber-50 text-sm w-96 text-center">
      Te pedimos confirmar tu asistencia
    </p>
  </div>

  <div class="flex w-full justify-center items-center mt-4 gap-8">
    <div class="flex gap-1 justify-start items-center">
      <Image alt="bride" src={brideImg} class="h-5 w-5 sm:h-6 sm:w:6" />
      <a
        class="underline text-tertiary font-medium"
        href="https://api.whatsapp.com/send?phone=+529994397294&text=%C2%A1Hola Juli!%20Confirmo%20mi%20asistencia%20a%20la%20Boda%20%F0%9F%92%92"
        target="_blank"
        rel="noopener noreferrer">Confirma aquí</a
      >
    </div>
    <span class="text-tertiary font-medium">o</span>
    <div class="flex gap-1 justify-start items-center">
      <Image alt="grom" src={groomImg} class="h-5 w-5 sm:h-6 sm:w:6" />
      <a
        class="underline text-tertiary font-medium"
        href="https://api.whatsapp.com/send?phone=+529991111524&text=%C2%A1Hola Rassiel!%20Confirmo%20mi%20asistencia%20a%20la%20Boda%20%F0%9F%92%92"
        target="_blank"
        rel="noopener noreferrer">Confirma aquí</a
      >
    </div>
  </div>

  <p class="text-amber-50 text-sm w-full px-2 pt-4 text-center">
    En caso de no confirmar, entenderemos que no podrás acompañarnos.
  </p>
  <p class="text-amber-50 text-sm w-full px-2 text-center">
    También, si deseas confirmar para un número menor de personas, déjanos saber.
  </p>

  <Slider/>

  <p class="w-full text-center mb-8 mt-4 text-amber-50 text-3xl">
    ¡Te esperamos!
  </p>

  <div class="flex w-full justify-between items-center pb-8">
    <Image alt="corner" src={cornerFlower} class="rotate-[180deg] w-20 h-20" />
    <div class="flex flex-col items-center">
      <Image alt="rings" src={rings} class="w-16 h-16" />
      <p class="font-cookie text-4xl text-amber-50">Julisa y Rassiel</p>
    </div>
    <Image alt="corner" src={cornerFlower} class="w-20 h-20" />
  </div>
</section>
