---
import Image from "astro/components/Image.astro";
import FadeImage from "@components/FadeImage.astro";
import cornerFlower from "@assets/images/hojas.png";
import calendar from "@assets/images/calendar.png";
import imgSection from "@assets/images/Civil_JulixRassiel_169.jpg";
import weddingImg from "@assets/images/wedding-couple.png";
import musicImg from "@assets/images/music.png";
import CounterDown from "@components/CounterDown.astro";
import loveSong from "@assets/music/lovesong.mp3";
import muted from "@assets/images/muted.png";
import unmuted from "@assets/images/unmuted.png";
---

<section
  class="bg-main max-w-5xl mx-auto flex flex-col justify-between relative"
>
  <Image
    alt="corner"
    src={cornerFlower}
    class="rotate-[180deg] top-0 left-0 absolute w-20 h-20"
  />
  <Image
    alt="corner"
    src={cornerFlower}
    class="bottom-0 right-0 absolute w-20 h-20"
  />

  <div class="flex gap-1 items-center justify-center w-full mt-4">
    <p class="text-amber-50 text-xs">Reproduce nuestra canción:</p>
    <!-- <Image alt="music" src={musicImg} class="h-4 w-4" /> -->
  </div>
  <div class="flex items-center justify-center gap-2 mt-2 ">
    <div class="hidden">
      <audio
        id="audio"
        controls
        muted
        class="w-full rounded-lg overflow-hidden"
      >
        <source src={loveSong} type="audio/mpeg" />
        Tu navegador no soporta audio.
      </audio>
    </div>
    <button id="playBtn" class="rounded bg-amber-50/25 p-1">
      <Image id="muted" alt="muted" src={muted} class="h-6 w-6" />
      <Image id="unmuted" alt="unmuted" src={unmuted} class="hidden h-6 w-6" />
    </button>
  </div>

  <div class="w-full flex flex-col gap-2 items-center justify-center mt-4">
    <p class="text-amber-50 text-base w-full text-center my-auto">
      Después de tanto soñar, llegó el gran día....
    </p>
    <p class="text-amber-50 text-xl w-full text-center my-auto">
      ¡Nos casamos!
    </p>
    <Image alt="date" src={calendar} class="h-10 w-10" />
    <p
      class="text-amber-50 text-3xl md:text-4xl border border-amber-50 py-1 px-2"
    >
      15 Noviembre 2025
    </p>
  </div>

  <CounterDown />

  <FadeImage alt="img-section" src={imgSection} />

  <div class="flex flex-col gap-4 items-center py-4">
    <Image alt="wedding" src={weddingImg} class="w-10 h-10" />
    <div>
      <p class="text-amber-50 text-xl w-full text-center my-auto">
        Padres de la novia:
      </p>
      <p class="text-amber-50 text-base w-full text-center my-auto">
        Marisa del Rosario Gómez Sansores
      </p>
      <p class="text-amber-50 text-base w-full text-center my-auto">
        Rafael Martín Pech
      </p>
    </div>

    <div>
      <p class="text-amber-50 text-xl w-full text-center my-auto">
        Padres del novio:
      </p>
      <p class="text-amber-50 text-base w-full text-center my-auto">
        Fany del Rosario Dzib Mena
      </p>
      <p class="text-amber-50 text-base w-full text-center my-auto">
        Luis Antonio Mex Segovia
      </p>
    </div>
  </div>
</section>

<script>
  const playBtn = document.getElementById(
    "playBtn"
  ) as HTMLButtonElement | null;



  const muted = document.getElementById("muted") as HTMLImageElement | null;
  const unmuted = document.getElementById("unmuted") as HTMLImageElement | null;
  const audio = document.getElementById("audio") as HTMLVideoElement | null;

  playBtn?.addEventListener("click", () => {
    if (!audio || !muted || !unmuted) return;

    if (audio.muted) {
      audio.muted = false;
      audio.play()
      audio.volume = 0.5
      muted.classList.add("hidden");
      unmuted.classList.remove("hidden");
    } else {
      audio.muted = true;
      audio.pause()
      muted.classList.remove("hidden");
      unmuted.classList.add("hidden");
    }
  });
</script>
