---
import Image from "astro/components/Image.astro";
import FadeImage from "@components/FadeImage.astro";
import cornerFlower from "@assets/images/hojas.png";
import imgSection from "@assets/images/SaveTheDate_310_1.jpg";
import dressImg from "@assets/images/ropa.png";
import giftImg from "@assets/images/gift-box.png";
---

<section
  class="bg-main max-w-5xl mx-auto flex flex-col justify-between relative"
>
  <Image
    alt="corner"
    src={cornerFlower}
    class="rotate-[180deg] top-0 left-0 absolute w-20 h-20"
  />
  <Image
    alt="corner"
    src={cornerFlower}
    class="bottom-0 right-0 absolute w-20 h-20"
  />

  <div class="w-full flex flex-col gap-2 items-center justify-center mt-4">
    <p class="text-amber-50  text-xl w-full text-center my-auto">
      Código de vestimenta:
    </p>
    <p class="text-amber-50  text-base w-full text-center">Formal</p>
    <Image alt="date" src={dressImg} class="h-10 w-10" />
    <p class="text-amber-50 text-sm w-full px-2 text-center">
      Te pedimos con cariño evitar colores como el blanco y el verde.
    </p>
    <div class="flex gap-4 sm:gap-6 w-full items-center justify-center">
      <span class="rounded-full bg-amber-50 h-12 w-12"></span>
      <span class="rounded-full bg-[#1f4b06] h-12 w-12"></span>
      <span class="rounded-full bg-[#446134] h-12 w-12"></span>
      <span class="rounded-full bg-[#50744a] h-12 w-12"></span>
    </div>
  </div>

  <FadeImage alt="img-section" src={imgSection} />

  <div
    class="w-full flex flex-col gap-2 items-center justify-center mt-4 mb-12"
  >
    <p class="text-amber-50  text-xl w-full text-center my-auto">
      Mesa de Regalos
    </p>
    <Image alt="date" src={giftImg} class="h-10 w-10" />
    <p class="text-amber-50 text-sm w-full px-2 text-center">
      Lo más valioso para nosotros es contar con tu compañia en este día tan especial.
      Si además quieres tener un detalle, podrás encontrar nuestra mesa de regalos o participar en la lluvia de sobres.
    </p>
    <a
      class="py-1 px-4 rounded-lg bg-tertiary underline text-main-variant  font-bold"
      href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51748251"
      target="_blank"
      rel="noopener noreferrer">Ir a la mesa</a
    >
  </div>
</section>
